<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ridmal.a/IdeaProjects/SITS_Vidvan">
        <classes>
            <class name="Test.AddEmails">
                <methods>
                    <include name="logIntoSystem"/>
                    <include name="GoToCoursePage"/>
                    <include name="AddEmails"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>